[submodule "scat"]
	path = scat
	url = https://github.com/nlink-jp/scat.git
[submodule "stail"]
	path = stail
	url = https://github.com/nlink-jp/stail.git
[submodule "slack-router"]
	path = slack-router
	url = https://github.com/nlink-jp/slack-router.git
[submodule "md-to-slack"]
	path = md-to-slack
	url = https://github.com/nlink-jp/md-to-slack.git
[submodule "swrite"]
	path = swrite
	url = https://github.com/nlink-jp/swrite.git
